server:
  port: 8040 # 认证服务端口

spring:
  data:
    redis:
      host: 100.113.176.73
      port: 6379
      password: root
  application:
    name: seckill-auth
  cloud:
    nacos:
      discovery:
        server-addr: 100.113.176.73:8848