server:
  port: 8030
spring:
  application:
    name: seckill-order
  cloud:
    nacos:
      discovery:
        server-addr: 10.201.115.99:8848

  # 数据库配置 (沿用之前的)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.201.115.99:3306/seckill_db?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
  data:
    redis:
      host: 10.201.115.99
      port: 6379
      database: 0
      password: root
      timeout: 3000ms
rocketmq:
  name-server: 10.201.115.99:9876
  producer:
    # 这个 group 用于普通消息发送 (RocketMQTemplate)
    group: seckill_order_group
    send-message-timeout: 3000
app:
  rocketmq:
    namesrv-addr: 10.201.115.99:9876
    producer-group: seckill_transaction_producer_group
    topic: SeckillOrderTopic
  redis:
    host: 10.201.115.99
    port: 6379
    password: root
# ==========================================
# 【新增】Seata 核心配置 (解决 deprecated 报错)
# ==========================================
seata:
  enabled: true
  # 事务分组 (必须与代码中 @GlobalTransactional 注解默认的一致)
  tx-service-group: default_tx_group
  service:
    vgroup-mapping:
      # 映射规则：将 default_tx_group 映射到名为 'default' 的 Seata Server 集群
      default_tx_group: default
  # 注册中心配置 (告诉微服务去 Nacos 找 Seata Server)
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: 10.201.115.99:8848
      group: SEATA_GROUP