server:
  port: 8031
spring:
  application:
    name: seckill-order
  cloud:
    nacos:
      discovery:
        server-addr: 100.113.176.73:8848

  # 数据库配置 (沿用之前的)
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://100.113.176.73:3306/seckill_db?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
app:
  rocketmq:
    namesrv-addr: 100.113.176.73:9876
    producer-group: seckill_transaction_producer_group
    topic: SeckillOrderTopic
  redis:
    host: 100.113.176.73
    port: 6379
    password: root