server:
  port: 8021

spring:
  application:
    name: seckill-goods
  cloud:
    nacos:
      discovery:
        server-addr: 100.113.176.73:8848
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://100.113.176.73:3306/seckill_goods?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: root
    password: root

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # 【新增】指定 XML 映射文件的位置
  # classpath: 代表 src/main/resources 目录
  # mapper/*.xml 代表 mapper 目录下的所有 xml 文件
  mapper-locations: classpath:mapper/*.xml

app:
  rocketmq:
    namesrv-addr: 100.113.176.73:9876
    producer-group: goods-producer-group
    goods-up-topic: goods-up-topic
    goods-down-topic: goods-down-topic

rocketmq:
  name-server: 100.113.176.73:9876
  producer:
    group: goods-producer-group
    send-message-timeout: 3000

# ==========================================
# 【新增】Seata 核心配置 (解决 deprecated 报错)
# ==========================================
seata:
  enabled: true
  # 事务分组 (必须与代码中 @GlobalTransactional 注解默认的一致)
  tx-service-group: default_tx_group
  service:
    vgroup-mapping:
      # 映射规则：将 default_tx_group 映射到名为 'default' 的 Seata Server 集群
      default_tx_group: default
  # 注册中心配置 (告诉微服务去 Nacos 找 Seata Server)
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: 100.113.176.73:8848
      group: SEATA_GROUP