<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.seckill.goods.mapper.SkuInfoMapper">

    <update id="reduceStockBatch">
        <foreach collection="items" item="item" separator=";">
            UPDATE pms_sku_info
            SET stock = stock - #{item.count}
            WHERE sku_id = #{item.skuId}
            AND stock >= #{item.count}
        </foreach>
    </update>

</mapper>