server:
  port: 8041 # 认证服务端口

spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: root
  application:
    name: seckill-auth
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848